<?xml version="1.0"?>
<settings>
  <offline>false</offline>
    <localRepository>/Users/{{ accounts.bbc.username }}/.m2/repository</localRepository>

  <proxies>
    <proxy>
      <active>true</active>
      <protocol>http</protocol>
      <host>www-cache.reith.bbc.co.uk</host>
      <port>80</port>
      <nonProxyHosts>
        localhost|cmcdev2006.national.core.bbc.co.uk|cmcdev2014.national.core.bbc.co.uk|*.national.core.bbc.co.uk
      </nonProxyHosts>
    </proxy>
    <proxy>
      <active>true</active>
      <protocol>https</protocol>
      <host>www-cache.reith.bbc.co.uk</host>
      <port>80</port>
      <nonProxyHosts>
        localhost|cmcdev2006.national.core.bbc.co.uk|cmcdev2014.national.core.bbc.co.uk|*.national.core.bbc.co.uk
      </nonProxyHosts>
    </proxy>
  </proxies>

  <pluginGroups>
    <pluginGroup>com.sonatype.maven.plugins</pluginGroup>
    <pluginGroup>org.sonatype.plugins</pluginGroup>
    <pluginGroup>bbc.forge.maven.plugin</pluginGroup> </pluginGroups>

  <profiles>
    <profile>
      <id>BBC</id>
      <repositories>
        <repository>
          <id>snapshots-repo</id>
          <url>http://bbc-snapshots</url>
          <releases>
            <enabled>false</enabled>
          </releases>
          <snapshots>
            <enabled>true</enabled>
          </snapshots>
        </repository>
        <repository>
          <id>releases-repo</id>
          <url>http://bbc-releases</url>
          <releases>
            <enabled>true</enabled>
          </releases>
          <snapshots>
            <enabled>false</enabled>
            <updatePolicy>always</updatePolicy>
          </snapshots>
        </repository>
      </repositories>
      <pluginRepositories>
        <pluginRepository>
          <id>plugin-repo</id>
          <url>http://bbc-plugins</url>
          <releases>
            <enabled>true</enabled>
          </releases>
          <snapshots>
            <enabled>true</enabled>
            <updatePolicy>always</updatePolicy>
          </snapshots>
        </pluginRepository>
      </pluginRepositories>
      <properties></properties>
    </profile>
  </profiles>

  <activeProfiles>
    <activeProfile>BBC</activeProfile>
  </activeProfiles>

  <mirrors>
    <mirror>
        <id>internal-repository</id>
        <name>Maven Repository Manager running on repo.mycompany.com</name>
        <url>https://dev.bbc.co.uk/artifactory/repo</url>
        <mirrorOf>*</mirrorOf>
    </mirror>
  </mirrors>

</settings>
